KiCad/custom locker/custom locker/custom locker-backups
KiCad/custom locker/custom locker/custom locker.kicad_prl
KiCad/custom locker/custom locker/custom locker.kicad_sch-bak
KiCad/custom locker/custom locker/fp-info-cache
KiCad/custom locker/custom locker/~custom locker.kicad_pcb.lck
